@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

body {
    background-color: #227C9D;
}

header {
    width: 95%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    
}
 
.main-header {
    display: flex;
    justify-content: space-around;
    
}

h1 {
    color: #17C3B2;
    font-size: 3rem;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
} 

a {
   padding-inline: 2rem;    
   text-decoration: none;
   color: #FFCB77
}

.main-section {
    display: flex;

}

main.main {
    height: 80vh;
    flex-grow: 3;
    border: 3px solid #FEF9EF;
    background-color: #FFCB77;
}

aside.aside {
    height: 80vh;
    flex-grow: 1;
    border: 3px solid #FEF9EF;
    background-color: #FFCB77;
}